
<style>
    /*.body-content {
       padding: 0px !important;
       margin: 0px !important;
    }*/
</style>
<div style="padding-left: 300px; padding-top: 20px;">
    <img src="~/images/home-page-logo.jpg" alt="Little Help" />
</div>
