<h3>Admin Main Page</h3>

<p>
    <div>
        <ul>
            <li><a asp-controller="Admin" asp-action="Entries">View Entries</a></li>
            <li><a asp-controller="Admin" asp-action="Remove">Remove Entry</a></li>
            <li><a asp-controller="Admin" asp-action="Category">View Service</a></li>
            <li><a asp-controller="Category" asp-action="Add">Add Service</a></li>
            <li><a asp-controller="Category" asp-action="Remove">Remove Service</a></li>
        </ul>
    </div>
</p>
<a asp-controller="LittleHelp" asp-action="Index"><b>Logout</b></a>